{% extends 'base.html' %}

{% block title %} Add Note {% endblock title %}


{% block content %}
    <h3 class="center-align">Add Note</h3>
      <div class="row">
      <!-- Form to add a new note -->
        <form class="col s12" method="POST" action="{{ url_for('add_note') }}">
            <!-- Selection option field -->
              <div class="mb-3">
                <label for="category_name">Note Category</label>
                    <select name="category_name" id="category_name" class=validate" required>
                          <option value="" , disabled selected>Choose a category</option>
                      {% for category in categories %}
                          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %}
                    </select>
              </div>

            <!-- Note title field -->
            <div class="mb-3">
                <label for="note_title">Note Title</label>
                <input id="note_title" name="note_title" type="text"
                     class="validate form-control" minlength="5" maxlength="50" required>
            </div>

            <!-- note Description field -->

            <div class="mb-3">
                <label for="note">Note</label>
                <textarea id="note" name="note" class="form-control"
                          class="materialize-textarea" minlength="5" maxlength="50" required>
                </textarea>
            </div>

            <!-- Due Date Calendar Picker -->

            <div class="mb-3">
              <input class="datepicker validate"
                     id="due_date" name="due_date" type="text" required>
              <label for="due_date">Due Date</label>
          </div>

            <!-- Switch to choose if the note is Urgent -->
            <div class="input-field col12">
               <div class="switch">
                  <label for="is_urgent">
                    <input type="checkbox" id="is_urgent" name="is_urgent">
                    <span class="lever"></span>
                    Is Urgent
                  </label>
               </div>
            </div>
            <br/>
          <!-- Submit Button -->
          <div class="row">
              <div class="col s12 center-align">
                 <button class="btn btn-outline-primary" type="submit" name="">Create
                 </button>
              </div>
          </div>


        </form>
      </div>

{% endblock %}