{% extends "base.html" %}

{% block content %}

    {% if name %}
        <h1>hello {{ name }}</h1>
        <br /><br />
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
                <tr>
                    <td>
                        {{ our_user.id }}. {{ our_user.username }} - <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a>  - {{ our_user.email }} - {{ our_user.favorite_color }} - PW: {{ our_user.password_hash }}
                        <a href="{{ url_for('delete', id=our_user.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>User List:</h1>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="" method="POST" class="form-control">
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-control") }}
                {{ form.username(class="form-label") }}
                <br />

                {{ form.name.label(class="form-control") }}
                {{ form.name(class="form-label") }}
                <br />
                {{ form.email.label(class="form-control") }}
                {{ form.email(class="form-label") }}
                <br />
                {{ form.favorite_color.label(class="form-control") }}
                {{ form.favorite_color(class="form-label") }}
                <br />
                {{ form.password_hash.label(class="form-control") }}
                {{ form.password_hash(class="form-label") }}
                <br />
                {{ form.password_hash2.label(class="form-control") }}
                {{ form.password_hash2(class="form-label") }}
                <br />


                {{ form.submit(class="btn btn-primary") }}
            </form>

        </div>
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
                <tr>
                    <td>{{ our_user.id }}. {{ our_user.username }} - <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a> - {{ our_user.email }} - {{ our_user.favorite_color }} - PW: {{ our_user.password_hash }}
                        <a href="{{ url_for('delete', id=our_user.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>




    {% endif %}
{% endblock content %}