{% extends "base.html" %}

{% block content %}

    <h2>Registration Form:</h2>
    <br />
    <div>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                {{ form.first_name(class="form-control") }}
                <label class="form-label" for="form6Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                {{ form.last_name(class="form-control") }}
                <label class="form-label" for="form6Example2">Last name</label>
              </div>
            </div>
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4">
            {{ form.username(class="form-control") }}
            <label class="form-label" for="form6Example3">Username</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            {{ form.email(class="form-control") }}
            <label class="form-label" for="form6Example4">Email</label>
          </div>

          <!-- Color input -->
          <div class="form-outline mb-4">
            {{ form.favorite_color(class="form-control") }}
            <label class="form-label" for="form6Example6">Favorite Colour</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            {{ form.password_hash(class="form-control") }}
            <label class="form-label" for="form6Example7">Password</label>
          </div>

          <!-- Password -->
          <div class="form-outline mb-4">
            {{ form.password_hash2(class="form-control") }}
            <label class="form-check-label" for="form6Example8">Confirm Password</label>
          </div>

          <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
      </form>
    </div>
{% endblock content %}