<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hope Music Academy Blog" />
    <meta name="author" content="Nicky Frias for leaning purposes" />

    <!-- Title-->
    {% block title %}
        {% if title %}
            <title>HMA-{{ title }}</title>
        {% else %}
            <title>Hope Music Blog</title>
        {% endif %}
    {% endblock title %}

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href={{ url_for("static", filename="assets/favicon.ico") }} />
   <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css") }}/>
</head>
         <!-- Responsive navbar-->
        {% include "navbar.html" %}
<body>
    <!-- MESSAGES NOTIFICATIONS -->
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}
    </section>

    <main>
        <div class="container mt-5">
            <div class="row">
                <!--  -->
                <div class="col-lg-8">
                    {% block content %}
                        {% include "home.html" %}
                    {% endblock content %}
                </div>
                <!--  -->
                <div class="col-lg-4">
                    {% include "sidebar.html" %}
                </div>
            </div>
        </div>
    </main>



     <!-- Footer-->
     <footer class="py-5 bg-dark">
         <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Hope Music Academy 2022</p></div>
     </footer>
     <!-- Bootstrap core JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Core theme JS-->
     <script src={{ url_for("static", filename="js/scripts.js") }}></script>
</body>
</html>