{% extends "base.html" %}

{% block content %}
   <h1>Dashboard</h1>
   <hr>
    <div class="container">
        <div class="row">
            <div class="col-8">
               <h2>Hi {{ current_user.name|capitalize }}!</h2>
               <p>You are now logged in</p>
               <br/>

                <strong>Username</strong>: {{ current_user.username }}<br/>
                <strong>Name</strong>: {{ current_user.name}}<br/>
                <strong>Email</strong>: {{ current_user.email }}<br/>
                <strong>Favorite Color</strong>: {{ current_user. favorite_color}}<br/>
                <strong>Date Joined</strong>: {{ current_user.data_added }}<br/>
                <strong>About Author</strong>: {{ current_user.about_author }}<br/>
                <strong>Profile Picture</strong>: {{ current_user.profile_pic }}<br/>

                <br/><br/>
                <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-warning">Update Profile</a>
                <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-danger">Delete</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-success">Logout</a>
                <br/><br/>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='/img/default_pic.png') }}"
                     alt="default profile picture" align="right" width="250px">
            </div>
        </div>
    </div>

    <h1>Update Profile...</h1>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="/dashboard" method="POST" class="form-control" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.name) }}
                <br />
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update.email) }}
                <br />

                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=name_to_update.email) }}
                <br />
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
                <br />
                {{ form.about_author.label(class="form-label") }}
                <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
                <br />
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}

                <br />
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
{% endblock content %}