{% extends 'base.html' %}

{% block content %}

<h3>Notes</h3>

{% for note in notes %}

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>{{ note.note_title}}</strong>
            </button>
          </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <p><small><em>Category | {{ note.category_name }}</em></small></p>
              <p><strong>{{ note.note}}</strong></p>
              <p><small><em>by: {{ note.created_by }}</em></small></p>
            <div class="">
                <a href="{{ url_for('delete_note', note_id=note._id) }}" class="btn btn-outline-danger">Delete</a>
                <a href="{{ url_for('edit_note', note_id=note._id) }}" class="btn btn-outline-success">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}


{% endblock %}