{% extends "base.html" %}

{% block content %}

        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="" method="POST" class="form-control">
                {{ form.hidden_tag() }}
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                <br />
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
                <br />



                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>

{% endblock content %}