{% extends "base.html" %}

{% block content %}

        <h3>Reset Password Request</h3>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="" method="POST" class="form-control">
                {{ form.hidden_tag() }}

                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br />


                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>

{% endblock content %}