{% extends "base.html" %}

{% block content %}
    {% if id == current_user.id %}

        <h1>Update User...</h1>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="/update/{{ name_to_update.id }}" method="POST" class="form-control">
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                <br />
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control", value=name_to_update.first_name) }}
                <br />
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control", value=name_to_update.last_name) }}
                <br />
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=name_to_update.email) }}
                <br />
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
                <br />
                {{ form.about_author.label(class="form-label") }}
                <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
                <br />
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
                <br />
                {{ form.submit(class="btn btn-primary") }} <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger">Delete</a>
            </form>

            {{ message }}
        </div>

    {% else %}


        <h2>Access Denied!!</h2>
        <p>Sorry, you don't have access to this profile!</p>

    {% endif %}
{% endblock content %}